<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<servlet>
		<servlet-name>finder</servlet-name>
		<servlet-class>FinderServlet</servlet-class>
		<init-param>
			<param-name>contacts</param-name>
			<param-value>1.xlsx，2.xlsx</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>first.com.wd.hello</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>finder</servlet-name>
		<url-pattern>/find</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

</web-app>